@charset "UTF-8";

/*width:1242px*/

html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img {
	margin: 0;
	padding: 0;
}

ul,ol,li {
	list-style: none;
}

a,u {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 16px;
	font-weight: 100;
}

b,strong {
	font-weight: 100;
}

i,em {
	font-style: normal;
}

img {
	border: 0;
	display: block;
}

html,body {
	height: 100%;
}

.clearfix:after {
	content: ".";
	clear: both;
	height: 0;
	display: block;
	overflow: hidden;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
}

.banner_con,.con1_con,.classify_con,.static_phone_con,.find_phone_con,.product_con,.service_con,.tb_con{
	width: 1242px;
	margin: 0 auto;
}


/*top*/

#banner {
	height: 680px;
	border-top: 1px solid #FFFFFF;
	overflow: hidden;
}

.banner_con {
	height: 679px;
	position: relative;
}

#banner_yd {
	position: absolute;
	width: 11520px;
	left: -339px;
}

#banner_yd a {
	display: block;
	float: left;
}

.banner_con #banner_nav {
	width: 1242px;
	height: 82px;
	position: absolute;
}

.banner_con #logo {
	display: block;
	width: 115px;
	height: 20px;
	position: absolute;
	left: 2px;
	top: 29px
}

.banner_con #logo a img {
	display: block;
	width: 100%;
	height: 100%;
	z-index: 20;
}

.banner_con #nav {
	position: absolute;
	right: 125px;
	top: 34px;
	height: 14px;
	float: right;
}

.banner_con #nav li {
	float: left;
}

.banner_con #nav li a {
	display: block;
	color: #fff;
	margin-left: 40px;
	height: 14px;
	font-size: 14px;
	line-height: 14px;
}

.banner_con #denglu {
	position: absolute;
	top: 28px;
	right: 64px;
	width: 22px;
	height: 22px;
}

.banner_con #shopcar {
	position: absolute;
	width: 23px;
	display: block;
	height: 21px;
	right: 12px;
	top: 26px;
}

.banner_con #shopcar a i {
	position: absolute;
	width: 23px;
	height: 21px;
	font-size: 26px;
	display: block;
	z-index: 20;
	color: #fff;
}

.banner_con #shopcar a em {
	font-size: 12px;
	position: absolute;
	top: 0;
	left: 12px;
	color: #ff0000;
}

.pagination {
	position: absolute;
	width: 520px;
	left: 365px;
	height: 20px;
	bottom: 13px;
}

.pagination span {
	position: absolute;
	bottom: 2px;
	display: block;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	border: 1px solid #fff;
	background: #fff;
}

.pagination span:nth-of-type(1) {
	left: 184px;
}

.pagination span:nth-of-type(2) {
	left: 218px;
}

.pagination span:nth-of-type(3) {
	left: 252px;
}

.pagination span:nth-of-type(4) {
	left: 286px;
}

.pagination span:nth-of-type(5) {
	left: 320px;
}

.pagination .visible {
	width: 13px;
	height: 13px;
	border-radius: 50%;
	border: 1px solid #fff;
	background: rgba(0, 0, 0, 0);
	margin-left: -2px;
	margin-bottom: -2px;
}


/*con1*/
#con1{
	min-height: 376px;
	_height:376px;
}
#con1 .con1_con{
	min-height: 376px;
	_height:376px;
}
.pt{
	min-height: 300px;
	_height:300px;
	padding-top: 76px;
}
.pt_wrapper{
	min-height: 300px;
	_height:300px;
}
.pt_wrapper div{
	width: 170px;
	height: 300px;
	margin-right: 185px;
	float: left;
	text-align: center;
}
.pt_wrapper img{
	margin-left: 5px;
}
.pt_wrapper h4{
	margin-top: -6px;
	margin-bottom: 8px;
	font-size: 20px;
    font-weight: 700;
    color:#515151;
}
.pt_wrapper span{
	color:#999;
	font-size: 14px;
}
.pt_wrapper .con1_con4{
	margin-right: 0;
}

/*分类*/
#classify{
	height: 383px;
	background: #f4f4f4;
}
.classify_con{
	height: 383px;
}
.classify_left{
	position: relative;
	width: 620px;
	height: 383px;
	float: left;
}
.classify_left a{
	display: block;
	width: 620px;
	height: 383px;
}
.classify_left img{
	position: absolute;
	width: 620px;
	height: 410px;
	bottom:1px;
}
.classify_right{
	width: 620px;
	height: 360px;
	float: left;
}
.classify_right ul{
	padding-top: 90px;
	width: 620px;
	height: 270px;
}
.classify_right ul li{
	float: left;
	width: 155px;
	height: 135px;
}
.classify_right ul li a{
	display: block;
	margin: 0 auto;
	width: 80px;
	height: 81px;
	text-align: center;
}
.classify_right ul li a img{
	margin: 0 15px 10px;
}
.classify_right ul li a span{
	color:#515151;
}

/*static_phone*/
#static_phone{
	min-height: 637px;
	_height:637px;
}
.static_phone_con{
	padding-top: 104px;
	height: 533px;
}
.static_phone_con ul{
	min-height:533px;
	_height:533px;
}
.static_phone_con ul li{
	float: left;
	height: 533px;
	text-align: center;
}
.static_phone_con ul li a{
	display: block;
	position: relative;
	width: 234px;
	height: 533px;
	float: left;
	margin-right: 100px;
}
.static_phone_con ul li #mr0{
	margin-right: 0;
}
.static_phone_con ul li a .phone_img{
	position: relative;
	width: 208px;
    height: 435px;
    margin: 0 auto;
}
.static_phone_con ul li a img{
	position: absolute;
	display: block;
	left:0;
	bottom:0;
}
.static_phone_con ul li a .phone_info{
	line-height: 20px;
    color: #666;
    font-size: 14px;
    padding-top: 28px;
}
.static_phone_con ul li a .phone_info span{
	display: block;
	margin-bottom: 4px;
}
.static_phone_con ul li a .phone_info em{
	display: block;
	color:#f0415f;
	padding-top: 2px;
	text-indent: -5px;
}

/*find_phone*/
#find_phone{
	min-height: 423px;
	_height:423px;
	padding-top: 65px;
	padding-bottom: 50px;
}
.find_phone_con{
	min-height: 423px;
	_height:423px;
	background: skyblue;
}
.find_phone_con_top{
	height: 360px;
	background: pink;
}
.find_phone_con_top .phone_info{
	text-align: center;
}
.find_phone_con_top .phone_info div{
	position: relative;
	height: 260px;
    width: 200px;
    margin: 0 auto;
}
.find_phone_con_top a{
	display: block;
	position: relative;
    float: left;
    margin-right: 100px;
    width: 234px;
    color:#515151;
}
.find_phone_con_top a img{
	display: block;
    height: 260px;
    width: 280px;
    position: absolute;
    top: -6px;
    margin-left: -140px;
    left: 50%;
}
.find_phone_con_top a span{
	display: block;
	margin-bottom: 4px;
}
.find_phone_con_top .mr0{
	margin-right: 0;
}
.find_phone_con_top em{
	display: block;
	color:#f0415f;
	padding-top: 2px;
	text-indent: -5px;
}
.find_phone_con_bottom{
	margin-top: 42px;
	height: 21px;
    text-align: center;
}
.find_phone_con_bottom span{
	display: inline-block;
	background: #d9d9d9;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 5px;
}
.find_phone_con_bottom .show{
	background: #333;
}
/*product*/
#product{
	min-height: 1280px;
	_height:1280px;
	border-top:1px solid #eee ;	
}
.product_con{
	min-height: 1176px;
	_height:1176px;
	padding-top: 104px;
}
.product_con ul{
	height: 1176px;
	background: #ccc;
}
.product_con ul li{
	text-align: center;
    float: left;
    margin-bottom: 80px;
}
.product_con ul li a{
	position: relative;
    float: left;
    margin-right: 100px;
    width: 234px;
    color:#515151;
}
.product_con ul li a img{
	display: block;
	width: 208px;
    border-radius: 5px;
    transition: opacity .3s .1s;
}
.product_con ul li a .zm{
	position: relative;
	left: 12px;
}
.product_con ul li a .bm{
	position: absolute;
    left: 12px;
    top: 0;
    opacity: 0;
}
.product_con ul li a .phone_info{
	line-height: 20px;
    color: #666;
    font-size: 14px;
    padding-top: 28px;
}
.product_con ul li a .phone_info span{
	display: block;
	margin-bottom: 4px;
}
.product_con ul li a .phone_info em{
    display: block;
    padding-top: 2px;
    color: #f0415f;
    text-indent: -5px; 
}
/*service*/
#service{
	height: 280px;
	background: #ededed;
}
.service_con{
	height: 280px;
	background: #ededed;
}
.service_con div{
	float: left;
    width: 33.3%;
    height: 280px;
    overflow: hidden;
}
.service_con div a{
	position: relative;
    display: block;
    height: 100%;
    width: 100%;
}
.service_con div a img{
	position: absolute;
	top: 0;
    left: 50%;
    width: 640px;
    margin-left: -320px;
}

/*tb*/
#tb{
	height: 220px;
}
.tb_con{
	height: 87px;
	padding: 66px 0;
}
.tb_con ul{
	height: 87px;
}
.tb_con ul li{
	float: left;
	width: 60px;
	height: 87px;
    margin-right: 135px;
}
.tb_con ul li a{
	color: #515151;
	display: block;
	text-align: center;
}
.tb_con ul li span{
	font-size:14px;
}
.tb_con ul .mr0{
	margin-right: 0;
}
