/*main*/
#main form .title{
	text-align: center;
	margin-bottom: 108px;
}
#main form .title .linkABlue{
	color: #00a7ea;
	font-size: 18px;
	height: 18px;
	line-height: 18px;
}
.main_con .txt-box{
	display: none;
} 
.main_con .sjh{
    font-size: 16px;
    display: block;
    height: 48px;
    line-height: 48px;
    border: 1px solid #dadada;
    outline: none;
    color: #474747;
    margin-bottom: 36px;
    border-radius: 2px;
}
.main_con .sjh div{
	display: inline-block;
    width: 70px;
    border-right: 1px solid #DDD;
    cursor: pointer;
    outline: none;
    height: 48px;
    position: relative;
}
.main_con .sjh div .qh{
	width: 54px;
	padding-left: 16px;
    color: grey;
    cursor: pointer;
    display: inline-block;
    height: 42px;
    border:0;
    outline: none;
    font-size: 15px;
}
.main_con .sjh div i{
	position: absolute;
	top:0;
	right:6px;
	color:#b2b2b2;
	font-weight: bold;
	line-height: 52px;
}
.main_con .sjh #phone{
	line-height: 22px;
    height: 22px;
    width: 74%;
    text-indent: 8px;
    background-color: white;
    border:0;
    outline: none;
}
.main_con .yz{
	width: 296px;
	height: 44px;
	border:1px solid #dadada;
	margin-bottom: 30px;
	background: linear-gradient(to bottom,#fefefe,#f4f4f4);
	border-radius: 2px;
	position: relative;
	cursor: pointer;
}
.main_con .active{
	background: linear-gradient(to top,#fefefe,#f4f4f4);
}
.main_con .yz .circle{
	position: absolute;
	left: 6px;
	top:6px;
	width: 30px;
	height: 30px;
	border:1px solid #2488ff;
	border-radius: 50%;
	background: #c5daf9;
}
.main_con .yz .circle .center{
	position: absolute;
	border-radius: 50%;
	width: 12px;
	height: 12px;
	background: #2488ff;
	top:9px;
	left:9px;
}
.main_con .yz .yz_tip{
	width: 250px;
	padding-left: 46px;
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	color:#666;
	text-align: left;
}
.main_con .yz .geetest_logo{
	position: absolute;
	display: block;
	width: 20px;
	height: 20px;
	right:12px;
	top:12px;
	background: url(../images/sprite.png) no-repeat;
	background-position-y: -105px;
}
.main_con .rememberField{
	margin-bottom: 30px;
    height: 20px;
    line-height: 20px;
    color:#515151;
}
.main_con .rememberField a{
    color: #00a7ea;
}
.main_con #btn{
	width: 298px;
	height: 46px;
	text-align: center;
	background: #00a7ea;
	border:0;
	color:#fff;
	border-radius:2px;
	margin-bottom: 20px;
	cursor: pointer;
	font-size: 14px;
	line-height: 46px;
}
.main_con .login{
	color:#00A7EA;
	font-size: 14px;
}
