@charset "UTF-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img {
	margin: 0;
	padding: 0;
}

ul,ol,li {
	list-style: none;
}

a,u {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 16px;
	font-weight: 100;
}

b,strong {
	font-weight: 100;
}

i,em {
	font-style: normal;
}

img {
	border: 0;
	display: block;
}

html,body {
	height: 100%;
}

.clearfix:after {
	content: ".";
	clear: both;
	height: 0;
	display: block;
	overflow: hidden;
	visibility: hidden;
}

.clearfix {
	zoom: 1;
}

.header_con,.main_con,.footer_con{
	width: 1200px;
	margin: 0 auto;
}
/*header*/
#header{
	width: 100%;
	height:40px;
	padding-top: 28px;
}
.header_con a{
	display: block;
	width: 110px;
	height: 20px;
	float: left;
}
.header_con a i{
	color:#1eb9ee;
	font-size:19px;
	line-height: 19px;
}
/*main*/
#main{
	height: 750px;
	background:#f8fcff url(../images/banner.png) no-repeat center;
}
.main_con{
	position: relative;
	height: 750px;
}
#main form{
	width: 298px;
    position: absolute;
    top: 14%;
    right: 220px;
    background-color: #FFF;
    padding: 72px 35px 20px;
    border-radius: 2px;
}
#main form .title{
	text-align: center;
	margin-bottom: 108px;
}
#main form a{
	color: #00a7ea;
	font-size: 18px;
	
}
.main_con .txt-box{
	display: none;
} 
.main_con .sjh{
    font-size: 14px;
    display: block;
    height: 46px;
    line-height: 46px;
    border: 1px solid #dadada;
    outline: none;
    color: #474747;
}
.main_con .sjh span{
	display: inline-block;
    width: 60px;
    border-right: 1px solid #DDD;
    cursor: pointer;
    outline: none;
}
.main_con .sjh span .qh{
	line-height: 22px;
    height: 22px;
    width: 60%;
    color: grey;
    text-align: center;
    cursor: pointer;
    position: relative;
    display: inline-block;
    padding: 0px 10px;
    height: 42px;
    border:0;
    outline: none;
}
.main_con .sjh #phone{
	line-height: 22px;
    height: 22px;
    width: 74%;
    text-indent: 8px;
    background-color: white;
    border:0;
    outline: none;
}
/*footer*/
#footer{
	bottom: 0;
    width: 100%;
    height: 130px;
    border-top: solid 1px #E5E6E7;
    background-color: #fff;
    color: black;
}
